header h1 
{
    text-align: center;
    color : rgba(38, 37, 88, 0.904);

}

header a
{
    text-decoration: none;
    letter-spacing: 1.5px;
}

body
{
    background-image: url("fond2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    
}

.barrecote
{
    padding-left : 5px;
}

body .barrecote ul
{
    display: flex;
    justify-content: center;
}

.barrecote li
{
    list-style-type: none;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    
    
}


body .barrecote li a
{
    text-decoration: none;
    color : rgb(97, 59, 11);
    letter-spacing: 1.5px;
}

body .barrecote li a:hover
{
    color: rgb(50, 185, 50);   
    

}

.text h2
{
    margin-top: 130px;
    margin-bottom: 30px;

}

.text article 
{

    display: inline-block;
    vertical-align:  top;

}

.text h2
{
    text-align: center;
}

.voyages
{
    padding-left: 300px ;
}
.voyages h5
{
    margin-left: 140px;
}

.voyages img
{
    margin-left: 22px;
}

.musique 
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

.text2 article 
{

    display: inline-block;
    

}
.sport 
{
    padding-top: 30px;
   
    margin-left: 350px;
    text-align: center;
    vertical-align:  top;
    
}
.sport img
{
    margin-left: 20px;
    
}

.chanson 
{
    padding-left: 80px;
    vertical-align: middle;
    
}
.chanson h5
{
    text-align: center;
}




