header h1 
{
    text-align: center;
    color : rgba(38, 37, 88, 0.904);

}

header a
{
    text-decoration: none;
    letter-spacing: 1.5px;
}

body
{
    background-image: url("fond2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    text-align: center;
}

.barrecote
{
    padding-left : 5px;
}

body .barrecote ul
{
    display: flex;
    justify-content: center;
}

.barrecote li
{
    list-style-type: none;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    
    
}


body .barrecote li a
{
    text-decoration: none;
    color : rgb(97, 59, 11);
    letter-spacing: 1.5px;
}

body .barrecote li a:hover
{
    color: rgb(50, 185, 50);   
    

}
