header h1 
{
    text-align: center;
    color : rgba(38, 37, 88, 0.904);

}

header a
{
    text-decoration: none;
    letter-spacing: 1.5px;
}

body
{
    background-image: url("fond2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.barrecote
{
    padding-left : 5px;
}

body .barrecote ul
{
    display: flex;
    justify-content: center;
}

.barrecote li
{
    list-style-type: none;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    
    
}


body .barrecote li a
{
    text-decoration: none;
    color : rgb(97, 59, 11);
    letter-spacing: 1.5px;
}

body .barrecote li a:hover
{
    color: rgb(50, 185, 50);   
    

}

.presentation img
{
    width: 90%;
	height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

.presentation article
{
    display: inline-block;
    vertical-align:  middle;
}

.presentation .formulaire
{
    display: inline-block;
    vertical-align:  top;
    
}



.formulaire
{
    padding : 10px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

.formulaire label
{
    padding-top: 5px;
    margin-top: 5px;
}

.text 
{
    margin-left: 20px;
}